
.header {
    grid-area: h;
    background-color: #1a1a33;

}

.container{
    display: flex;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;

}

.logo img {
    max-width: 70px;
}

.login{
    color: #ceb107;
    padding: 25px;
}

/*.loginBlock{*/
/*    margin-left: 20px;*/
/*}*/

.login__img{
    max-width: 75px;
}
.authUser{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.logout{
    position: absolute;
    right: 120px;
    top: 10px;
    color: #ceb107;
    cursor: pointer;
}

.nameLogin{
    color: #ceb107;
    font-size: 10px;
}


@media (min-width: 360px) and (max-width: 480px)  {
    .container{
        display: flex;
        padding: 5px;
        margin-left: 8px;
        margin-right: 8px;
        justify-content: space-between;
    }
}